@use "normalize.css";
@use '@angular/material' as mat;
@use "@jamesbenrobb/styles/theme" as theme;

@use "codemirror/lib/codemirror.css";
@use "codemirror/theme/3024-day.css" as day;

@use "github-markdown-css/github-markdown.css";
@use "@jongwooo/prism-theme-github/themes/prism-github-default-auto.css";
@use "jbr-doc-styles" as docs;


$themes: theme.get-default-themes();
$light-theme: nth($themes, 1);
$typography: nth($themes, 3);

$dark-primary: mat.define-palette(mat.$green-palette, 500, 100, 900);
$dark-accent: mat.define-palette(mat.$amber-palette, 500, 100, 900);
$dark-warn: mat.define-palette(mat.$red-palette, 500, 100, 900);

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  ),
  typography: $typography
));

@include theme.set-themes($light-theme, $dark-theme, $typography);
@include theme.set-form-themes($light-theme, $dark-theme);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  @include docs.setJBRDocVars($light-theme, $dark-theme, $side-menu-width: 260px);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
